# INTRODUCTION TO FOR LOOPS

In [1]:
my_students = ['manisha', 'deepa', 'divya', 'baskar', 'goutham']

In [2]:
print(my_students)

['manisha', 'deepa', 'divya', 'baskar', 'goutham']

In [3]:
type(my_students)

list

In [4]:
for x in my_students:
    print(x)

manisha
deepa
divya
baskar
goutham

Automate the print statement for everyone

In [10]:
for x in my_students:
    print(f"{x.title()}, Congratulations for achieving this milestone!!")

Manisha, Congratulations for achieving this milestone!!
Deepa, Congratulations for achieving this milestone!!
Divya, Congratulations for achieving this milestone!!
Baskar, Congratulations for achieving this milestone!!
Goutham, Congratulations for achieving this milestone!!

In [14]:
new_students=['Meena', 'Surabhi', 'Roshan', 'Geetha','Murugan']

In [12]:
print(new_students)

['Meena', 'Surabhi', 'Roshan', 'Geetha', 'Murugan']

In [16]:
for x in new_students:
    print(x)

Meena
Surabhi
Roshan
Geetha
Murugan

In [22]:
for x in new_students:
    print(f"Thanks for joining the class ontime, {x.title()}")

Thanks for joining the class ontime, Meena
Thanks for joining the class ontime, Surabhi
Thanks for joining the class ontime, Roshan
Thanks for joining the class ontime, Geetha
Thanks for joining the class ontime, Murugan

# Making a Numerical List

In [25]:
for value in range(1,10):
    print(value)

1
2
3
4
5
6
7
8
9

In [26]:
for value in range(1,25):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [27]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]